@charset "utf-8";
:root {
    --bg-contain: no-repeat 50% / contain;
    --bg-cover: no-repeat 50% / cover;
    --txt-indent: -9999px;
    --ani: .4s cubic-bezier(.49,.06,.08,1);
}

body {
    font-family: "Pretendard", "맑은 고딕",돋움,sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
}
a {
    text-decoration: none;
    display: block;
}
p {
    display: block;
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
img, video {
    height: auto;
    max-width: 100%;
}

.container {
    position: relative;
}

/********** header  **********/
.container header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #000;
    padding: 0 30px;
    /* justify-content: center; */
    align-items: center;
}

/* 로고 */
.container header h1 {
    display: block;
    font-family: 'Heebo', sans-serif;
    font-size: 2em;
    font-weight: 900;
}
.container header h1 a {
    color: #000;
}

/* 메뉴 */
.container header #gnb {
    width: 100%; height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}
.container header #gnb li {
    position: relative;
}
.container header #gnb a {
    color: #000;
    margin-right: 60px;
}
.container header #gnb > li > a {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
}
.container header #gnb .SUB {
    /* transform-origin: 50% 0;
    transform: scaleY(0); */
    opacity: 1;
    width: 120px;
    padding: 10px;
    position: absolute;
    top: 100;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.8;
    /* transition: var(--ani); */
}
.container header #gnb .SUB a {
}
.container header #gnb a:hover {
    color: #777
}
.container header #gnb > li > .SUB {
    display: none;
}
.container header #gnb > li:hover > .SUB {
    display: block;
}
.container header .user {
    display: flex;
}
.container header .user a {
    color: #555;
    opacity: 1;
}
.container header .user li:nth-child(1) a {
    margin-right: 20px;
}

/********** main  **********/
.container main {
    max-width: 100%;
    height: auto;
    display: block;
}
.container main .bg_img {
    height: 100vh;
    background: url(./이미지/VIVO\ S1\ Pro\ —\ Official\ Video.png) var(--bg-cover);
    top: 0;
}
main .wrapper {
    height: 100vh;
    padding: 0 100px 100px;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vh;
    position: relative;
    margin: 50px auto;
}
main .wrapper::after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 200px);
    left: 50%;
    top: 100px;
    background-color: #000;
}
main .wrapper .box {
    padding: 80px 40px;
}
main .wrapper .box h3 {
    font-weight: bold;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 45px;
}
main .wrapper::before {
    content: "";
    position: absolute;
    width: calc(100% - 200px);
    height: 1px;
    left: 100px;
    top: 50%;
    background-color: #000;
}

/********** aside  **********/
aside {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 33.333333%;
}
aside .img {
    position: relative;
    cursor: pointer;
}
aside .img:hover::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(5px);
}
aside .img .txt {
    position: absolute;
    text-align: center;
    top: 50%; bottom: 50%;
    display: none;
}
aside .img:hover .txt {
    content: "";
    z-index: 99;
    width: 100%;
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    display: block;
}
aside .bg1 {
    background: url(./이미지/pinkakuma.png) var(--bg-cover);
    grid-row: span 2;
    grid-column: span 2;
    position: relative;
}
aside .bg2 {
    background: url(./이미지/다운로드\ \(7\).jpg) var(--bg-cover);
}
aside .bg3 {
    background: url(./이미지/moon.jpg) var(--bg-cover);
}
aside .bg4 {
    background: url(./이미지/다운로드\ \(10\).jpg) var(--bg-cover);
    grid-column: span 2;
}
aside .bg5 {
    background: url(./이미지/Artur\ Gadzhiev\ on\ Twitter.jpg) var(--bg-cover);
    grid-column: span 2;
}
aside .bg6 {
    background: url(./이미지/다운로드\ \(11\).jpg) var(--bg-cover);
}
aside .bg7 {
    background: url(./이미지/S\ K\ Y\ L\ I\ G\ H\ T.png) var(--bg-cover);
}


/********** article  **********/
article {
    width: 80%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
}
article .our_business {
    
}
article .our_business h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 80px;
}
article .our_business h1::after {
    content: "";
    position: absolute;
    top: 90px; left: 650px;
    width: 50px;
    border-bottom: 1px solid #000;
}
article .our_business span {
    font-size: 18px;
}
article .our_img {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 50px;
    margin: 50px auto;
}
article .our_img figure h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
}



/********** nav  **********/
nav {
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 245, 229);
    display: grid;
    place-items: center;
}
nav .nav_wrapper {
    width: 90vw;
    margin: 0 auto;
}
nav .video_wrapper {
    width: 100%;
    height: 405px;
    overflow: hidden;
    grid-column: span 2;
    display: grid;
    place-content: center;
    margin-top: 50px;
}
nav .nav_wrapper .nav_txt {
    display: flex;
    justify-content: flex-end;
}
nav .nav_wrapper .nav_txt h2 {
    font-size: 40px;
    font-weight: bold;
    margin-right: 440px;
}
nav .nav_wrapper .nav_txt p {
    width: 50vw;
    font-size: 14px;
    display: flex;
    justify-content: right;
}
nav .video_wrapper video {
    height: auto;
    max-width: 100%;
}



/********** our_service  **********/
.our_service {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 50px;
}
.our_service h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
}

.our_service h1::after {
    content: "";
    position: absolute;
    top: 110px; left: 85px;
    width: 50px;
    border-bottom: 1px solid #000;
}
.our_service .img {
    display: grid;
    grid-template: repeat(1,1fr) / repeat(4, 1fr);
    gap: 40px;
}
.our_service .box .box {
    margin-top: 50px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 340px;
    overflow: hidden;
    /* margin: 0 1.3vw; */
    padding: 20px;
    text-align: left;
}
.our_service .box .box:hover {
    transition: .7s;
    animation: box .7s linear;
    overflow: hidden;

}
@keyframes box {
    0% {
        transform: scale(1.1);
    }
}
.our_service .box .box h3 {
    font-size: 23px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our_service .box .box span {
    font-size: 14px;
}



/********** location  **********/
.location {

}
.location h2 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
}
.location .location {
    display: flex;
    border-bottom: 1.5px solid #000;
    padding: 25px 30px;
}
.location .location:last-child {
    border-bottom: 3px solid #000;
}
.location .location h3 {
    font-weight: 600;
    font-size: 20px;
    margin-right: 80px;
}
.location .location p {
    font-size: 20px;
}
.location .tel h3 {
    margin-right: 130px;
}
.location .fax h3 {
    margin-right: 120px;
}
.location .sub h3 {
    margin-right: 115px;
}
.location .bus h3 {
    margin-right: 115px;
}
.wrapper_lo_box {
    background-color: #999;
    color: #fff;
    width: 260px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
}





/********** talk_bg  **********/
.talk_bg {
    width: 100%; height: 50vh;
    background: fixed url(./이미지/building-2631437_960_720.jpg) var(--bg-cover);
}
.talk_bg .talk_bg_color {
    background-color: rgba(255, 244, 247, 0.7);
    height: 50vh;
}
.talk_bg .talk_bg_color .talk_bg_txt {
    padding: 130px;
}
.talk_bg .talk_bg_color h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.talk_bg .talk_bg_color p {
    font-size: 15px;
}

.talk_bg .talk_bg_color .talk_bg_txt #btn {
    margin-top: 50px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0;
}

/********** footer  **********/
footer {
    background-color: #000;
    color: #fff;
    width: 100%; height: 20vh;
    position: relative;
}
footer > p {
    padding: 30px 0;
    line-height: 2.2;
    text-align: center;
}

._btn {
    background-color: #fff;
    width: 50px; height: 50px;
    position: absolute;
    bottom: 30px; right: 30px;
}
._btn a {
    font-weight: 900;
    font-size: 30px;
    color: #222;
    text-align: center;
}