@charset "utf-8";
@import url(../common/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@font-face {
    font-family: 'Pretendard';
    src: url(../font/PretendardVariable.woff2) format('woff2');
    font-weight: 45.920;
    font-style: normal;
    font-display: swap;
}
:root {
    --bg-contain: no-repeat 50% / contain;
    --bg-cover: no-repeat 50% / cover;
    --txt-indent: -9999px; 
}

body {
    /* margin: 0; padding: 0; */
    font-family: "Pretendard", "맑은 고딕",돋움,sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

.container {}

/********** header  **********/
.container header {
    width: 100%; height: 50vw;
    background: fixed url(./이미지/tempozan-ferris-wheel-at-osaka-japan_54454-3.webp) var(--bg-cover);
    display: flex;
    position: relative;
    top: 0;
    padding: 1%;
}
.container header h1 {
    display: block;
    font-size: 2em;
    font-weight: 700;
}
.container header #gnb {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}
.container header #gnb a {
    color: #000;
}
.container header #gnb > li > a {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    width: 100px;
}